{% extends 'base.html.twig' %}
{% block css %}
    .footer{
    display:flex;
    justify-content:space-around;
    }
    .contenido{
    width:70vw;
    height:50vh;
    }
{% endblock %}
{% block body %}
    <div class="col-lg-4 box-form">
        <h2>Editar Commentario</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}<br>
        <input type="submit" class="btn btn-success" value="Guardar cambios">
        <a class="btn btn-danger" href="{{ path('ver_post',{'id': comment.post.id}) }}">Cancelar</a></button>
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}